*{
    padding: 0%;
    margin: 0%;
}
.hero-container{
    width: 100vw;
    padding-top:17vh;
    padding-bottom: 5vh;
    font-family: 'Raleway',sans-serif;
    background-image: linear-gradient(rgba(255 ,255 ,255 , 0.8),rgba(255 ,255 ,255 , 0.8)),url('../images/Form_Header_v2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.hero-text{
    text-align: center;
    font-size: 2em;
}
.containers-padding{
    padding: 44px 5px 44px 5px;  
}
.title{
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 30px;
    font-family: 'Raleway', sans-serif;
    text-align: justify;
    color: white;
}
.description{
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    color: white;
}
.image-section img{
    width: 100%;
}
body::-webkit-scrollbar {
    width: 0em;
    background: transparent;
}
.button-container{
    display: flex;
    align-items: center;
    padding: 9px 15px 9px 15px;
    border-radius: 25px;
    cursor: pointer;
    margin-bottom: 20px;
    font-size: 16px;
    font-family: 'Roboto',sans-serif;
    transition: all 0.2s ease-in;
}
.button-container a{
    margin-right: 8px;
    text-decoration: none;
    text-transform: uppercase;
}
.button-container:hover{
    background-color: white;
}
.a-container:hover a{
    color: black;
}
.a-container:hover .material-icons{
    color: black;
}
.a-container a{
    margin-right: 8px;
    text-decoration: none;
    text-transform: uppercase;
}
.text-container{
    width: 75vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.address{
    color: white;
    font-size: 1.2em;
    margin-bottom:10px;
    font-family: 'Raleway',sans-serif;
    text-align: start;
}
.location-button{
    margin-top: 10px;
}
.m-top{
    margin-top:12vh;
}
#about-us{
    padding: calc(12vh + 44px) 5px 44px 5px;
}
.align-start{
    text-align: start;
}
.small-font{
    font-size: 18px;
}
.flex-container{
    display:flex;
    align-items: center;
}
.flex-container .material-icons{
    margin-right: 15px;
    font-size:3.5em;
}
@media screen and (min-width:768px){
    .row-container{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .text-section{
        width:40vw;
    }
    .image-section{
        width: 40vw;
    }
    .order-2{
        order: 2;
    }
    .order-1{
        order: 1;
    }
    .justify-start{
        justify-content: start;
    }
    .margin-left{
        margin-left: 20px;
    }
    #about-us{
        padding: calc(12vh + 85px) 2px 85px 2px;
    }
    .title{
        font-size: 48px;
        line-height: 58px;
        margin-bottom: 25px;
    }
    .description{
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 20px;
    }
    .containers-padding{
        padding: 85px 2px 85px;
    }
    .small-font{
        font-size: 20px;
    } 
}
@media screen and (max-width:768px){
    .flex-container .material-icons{
        margin-right: 10px;
        font-size:2.5em;
    }
}